
{% load qr_code %}


<h1><b>{{regno}}</b></h1>
<p>{{ vehicle.sacco }}</p>
<p>{{ vehicle.license_status }}</p>
reports: <a href="{% url 'reports:summary_of_all_reports_for_a_specific_vehicle' regno %}">Cases</a>


<!-- {{qr_code_values}} <br> -->

<p>QR CODE </p>

{% qr_from_text qr_code_values options=qr_options %}
<!-- {% qr_from_text qr_code_values size="m" image_format="png" error_correction="L" %} -->
<!-- {{qr_list}}
{% qr_from_text qr_list size="m" image_format="png" error_correction="L" %} -->
